@model RoundTable.Models.Reporter

@{
    ViewData["Title"] = "Edit";
}


<div class="container pt-5" style="margin-top: 4em; ">
    <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-8">
            <form asp-action="Edit" style="background-color: rgba(100, 111, 88, 0.1)">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" />

                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Organization" class="control-label"></label>
                    <input asp-for="Organization" class="form-control" />
                    <span asp-validation-for="Organization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    <div>
        <a asp-action="Details">Back to Details</a>
    </div>

